<form name="dynForm">
    <div class="row col-lg-12">
        <table class="table table-bordered">
            <tr ng-repeat="val in schema">
                <td class="col-lg-3">
                    <h4>{{val.label}}</h4>
                    <p>{{val.help}}</p>
                    <p style="color: red;" ng-show="errors[val.name]">{{errors[val.name]}}</p>
                </td>
                <td>
                    <multi refer="data[val.name]" schema="val" ng-if="val.options.multi"></multi>
                    <div ng-if="!val.options.multi">
                        <input name="{{val.name}}" type="hidden" ng-if="val.type=='hidden'" ng-model="data[val.name]"><span ng-if="val.type=='hidden'">{{data[val.name]}}</span>
                        <input name="{{val.name}}" type="text" ng-if="val.type=='string'" ng-model="data[val.name]" ng-minlength="val.options.minLength" ng-maxlength="val.options.maxLength" ng-required="val.options.minLength>0">
                        <input name="{{val.name}}" type="number" ng-if="val.type=='num'" ng-model="data[val.name]">
                        <input name="{{val.name}}" type="text" ng-if="val.type=='date'" ng-model="data[val.name]">
                        <select name="{{val.name}}" ng-options="item.id as item.libelle for item in val.options.choices" ng-model="data[val.name]" ng-if="val.type=='select'"></select>
                        <xhrinput url="val.options.url" initial="data[val.name]" target="data[val.name]" ng-if="val.type=='xhr'"></xhrinput>
                        <textarea name="{{val.name}}" ng-if="val.type=='text'" ng-model="data[val.name]"></textarea>
                    </div>
                    <fileinput ng-if="val.type=='file'" fileids="data[val.name]"></fileinput>

                </td>
            </tr>
        </table>
    </div>
    <div>
        <button class="btn btn-success" type="button" ng-disabled="dynForm.$valid==false" ng-click="save()">Enregistrer </button>
        <button class="btn btn-danger" type="button" ng-if="data.id" ng-click="remove()">Supprimer</button>
    </div>    
</form>

