<form name="Simpleform" novalidate class="css-form">
    <div id='form-container'>
        <tabset justified="true" ng-if="schema.groups.length>1">
            <tab ng-repeat="group in schema.groups" heading="{{group.name}}" active="isActive[$index]" disabled="isDisabled[$index]">
                <div class="row">
                    <button type="button" class="btn btn-default btn-sm float-left" ng-click="prevPage()" ng-show="$index>0"><span class="glyphicon glyphicon-chevron-left"></span>Précédent</button>
                    <button type="button" class="btn btn-default btn-sm float-right" ng-click="nextPage()" ng-disabled="sub_{{$index}}.$invalid" ng-show="$index<isActive.length-1">Suivant<span class="glyphicon glyphicon-chevron-right"></span></button>
                </div>
                <ng-form name="sub_{{$index}}">
                    <dynform group="group" data="data" errors="errors"></dynform>
                </ng-form>
            </tab>
        </tabset>
        <div ng-if="schema.groups.length==1">
            <dynform group="schema.groups[0]" data="data" errors="errors"></dynform>
        </div>
    </div>
    <div id="formToolbox" class="row">
        <button class="btn btn-success float-right" type="button" ng-disabled="!Simpleform.$valid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Enregistrer</button>
        <button class="btn btn-danger float-right" type="button" ng-if="data.id && deleteAccess" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Supprimer</button>
    </div>    
</form>
<div spreadsheet ng-if="schema.subSchemaUrl && creating" schemaurl="schema.subSchemaUrl" dataref="schema.subDataRef" data="data" subtitle="schema.subTitle"></div>
<pre style='clear:both;' ng-if="debug">{{data|json}}</pre>


<div dw-loading="spinner-form" dw-loading-options="{text: 'Chargement du formulaire'}" ng-options="{ text: '', className: 'custom-loading', spinnerOptions: {radius:30, width:8, length: 16, color: '#f0f', direction: -1, speed: 3}}"></div>
