<div class="block1">
    <p>
        <a ng-href="#/chiro/edit/site">Nouveau site</a>
    </p>
    <table border="1" ng-table="tableParams" show-filter="true" class="table ng-table-rowselected">
        <tbody>
            <tr ng-repeat="item in $data" ng-click="selectPoint(item)" ng-class="{'active': item.$selected}">
                <td data-title="'Id'" sortable="'id'">{{item.id}}</td>
                <td data-title="'Nom'" sortable="'siteNom'" filter="{'siteNom': 'text'}">{{item.siteNom}}</td>
                <td data-title="'Date de création'" sortable="'siteDate'">{{item.siteDate|datefr}}</td>
                <td data-title="'Dernière observation'" sortable="'dernObservation'">{{item.dernObservation|datefr}}</td>
                <td><a ng-href="#/chiro/site/{{item.id}}">Voir</a></td>
                <td><a ng-href="#/chiro/edit/site/{{item.id}}">Editer</a></td>
            </tr>
        </tbody>
    </table>
<div>
