<div class="block1">
    <div id="col-select">
        <h4>Sélection des colonnes</h4>
        <ul>
            <li ng-repeat="column in schema"><input type="checkbox" ng-model="column.options.visible" />{{column.label}}</li>
        </ul>
    </div>
    <h4>Sites</h4>
    <p>
    <a ng-href="#/{{_appName}}/edit/site">Nouveau site</a>
    </p>
    <table border="1" ng-table="tableParams" show-filter="true" class="table ng-table-rowselected">
        <thead>
            <tr>
                <th ng-repeat="column in schema" 
                    ng-show="column.options.visible" 
                    class="text-center sortable"
                    ng-class="
                        {'sort-asc': tableParams.isSortBy(column.name, 'asc'),
                        'sort-desc': tableParams.isSortBy(column.name, 'desc')}"
                    ng-click="tableParams.sorting(column.name, tableParams.isSortBy(column.name, 'asc') ? 'desc' : 'asc')">
                    {{column.label}}
                </th>
            </tr>
            <tr class="ng-table-filters" ng-init="tableParams">
                <th ng-repeat="column in schema" ng-show="column.options.visible" class="filter">
                <div ng-repeat="(name, filter) in column.filter">
                    <div ng-if="filter.indexOf('/') !== -1" ng-include="filter"></div>
                    <div ng-if="filter.indexOf('/') === -1" ng-include="'ng-table/filters/' + filter + '.html'"></div>
                </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in $data" ng-click="selectPoint(item)" ng-class="{'active': item.$selected}">
                <td ng-repeat="column in schema" ng-show="column.options.visible" sortable="column.name">{{item[column.name]|datefr}}</td>
                <td><a ng-href="#/{{_appName}}/site/{{item.id}}">Voir</a></td>
                <td><a ng-href="#/{{_appName}}/edit/site/{{item.id}}">Editer</a></td>
            </tr>
        </tbody>
    </table>
<div>
