<div class="row col-lg-6">
    <a class="btn btn-xs" ng-href="#/{{_appName}}/site"><span class="glyphicon glyphicon-chevron-left"></span>Sites</a>
</div>
<div class="row col-lg-6">
    <h3 class="col-lg-5">Détail du site {{data.properties.siteNom}}</h3>
    <div class="col-lg-1 col-lg-offset-5">
        <a class="btn btn-warning" ng-href="#/{{_appName}}/edit/site/{{data.properties.id}}">Modifier</a>
    </div>
</div>
<div class="row col-lg-6">
    <ul class="nav nav-tabs nav-justified">
        <li ng-repeat="group in schema.detailSite.__groups__" ><a ng-click="select_group(group)">{{group}} <span class="glyphicon glyphicon-ok" ng-if="schema.detailSite[group].shown"</span></a></li>
    </ul>
    <div ng-repeat="group in schema.detailSite.__groups__" ng-show="schema.detailSite[group].shown" class="col-lg-6">
        <table> 
            <tr ng-repeat="val in schema.detailSite[group]">
                <td ng-if="val.type!='hidden'" style="padding-right: 3em;"><h4>{{val.label}}</h4><h6>{{val.help}}</h6></td>
                <td ng-if="val.type=='date'">{{data.properties[val.name]|datefr}}</td>
                <td ng-if="val.type=='string' || val.type=='num'">{{data.properties[val.name]}}</td>
                <td ng-if="val.type=='file'">
                    <div ng-repeat="item in data.properties[val.name]">
                        <a ng-href="uploads/{{item}}" target="blank">{{item.slice(item.indexOf('_')+1)}}</a>
                    </div>
                </td>
            </tr>
        </table>
    </div> 
</div>
<div class="row col-lg-6">
    <h3 class="col-lg-5">Observations</h3>
    <div class="col-lg-1 col-lg-offset-5">
        <a class="btn btn-success" ng-href="#/{{_appName}}/edit/observation/site/{{data.properties.id}}">Nouvelle obs.</a>
    </div>
    <p class="row col-lg-12 text-info" ng-if="observations.length==0">Aucune observation à l'heure actuelle</p>
    <table class="table table-bordered" ng-if="observations.length>0">
        <tr>
            <th>Date</th>
            <th>Observateur(s)</th>
            <th>Taxons</th>
        </tr>
        <tr ng-repeat="obs in observations">
            <td class="col-lg-2"><a ng-href="#/{{_appName}}/observation/{{obs.id}}">Observation du {{obs.obsDate|datefr}}</a></td>
            <td class="col-lg-4">
                <ul class="list-unstyled">
                    <li ng-repeat="obr in obs.observateurs">{{obr.nomComplet}}</li>
                </ul>
            </td>
            <td>
                {{obs.nbTaxons}}
            </td>
        </tr>
    </table>
</div>
