<div class="row col-lg-6">
    <a class="btn btn-xs" ng-href="#/{{_appName}}/site"><span class="glyphicon glyphicon-chevron-left"></span>Sites</a>
    <a class="btn btn-xs" ng-href="#/{{_appName}}/site/{{data.siteId}}"><span class="glyphicon glyphicon-chevron-left"></span>{{data.siteNom}}</a>
</div>
<div class="row col-lg-6">
    <h3 class="col-lg-5">Observation n°{{data.id}}</h3>
    <a class="btn btn-warning col-lg-1" ng-href="#/{{_appName}}/edit/observation/{{data.id}}">Modifier</a>
</div>
<div class="col-lg-6">
    <table class="table">
        <tr ng-repeat="field in schema.detailObs">
            <td>{{field.label}}</td>
            <td ng-if="field.type=='date'">{{data[field.name]|datefr}}</td>
            <td ng-if="field.type=='string'">{{data[field.name]}}</td>
            <td ng-if="field.type=='multi'">
                <ul class="list-unstyled">
                    <li ng-repeat="item in data[field.name]"><span ng-repeat="opt in field.options">{{item[opt]}}</span></li>
                </ul>
            </td>
        </tr>
    </table>
</div>
