<div simpleform saveurl="saveUrl" schemaurl="configUrl" redirectto="#/{{_appName}}/observation/" dataurl="dataUrl" data="data">
    <a class="btn btn-xs" ng-href="#/{{_appName}}/site"><span class="glyphicon glyphicon-chevron-left"></span>sites</a>
    <a class="btn btn-xs" ng-href="#/{{_appName}}/site/{{data.siteId}}"><span class="glyphicon glyphicon-chevron-left"></span>Site {{data.siteId}}</a>
    <a class="btn btn-xs" ng-href="#/{{_appName}}/observation/{{data.id}}" ng-if="data.id"><span class="glyphicon glyphicon-chevron-left"></span>Retour obs</a>
</div>

