<table class="table">
    <tr ng-repeat="fich in fileids">
        <td>
            <div>{{fich.fname.slice(fich.fname.indexOf('_')+1)}}</div>
            <div><label>Description : <input type="text" class="form-control" ng-model="fich.commentaire"></label></div>
        </td>
        <td>
            <button type="button" class="btn btn-danger btn-xs" ng-click="delete_file(fich.fname)">
                <span class="glyphicon glyphicon-minus"></span>
            </button>
        </td>
    </tr>
</table>
<button type="button" ng-file-select ng-model="upload_file" class="btn btn-success" ng-disabled="lock">Sélectionner un fichier</button>
<progressbar ng-if="lock" class="progress-striped active" value="progress">{{progress}}%</progressbar>

