#map{
    width: 100%;
    height: 100%;
}

.fixed-col {
  height: 90vh;
  padding:0;
  box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
}
.content-panel {
 min-height: 90vh;
 padding:10px;
}

.float-right {
  float:right;
}

.float-left {
  float:left;
}


.sxhrinput li{
    list-style-type: none;
    padding: 0;
    cursor: pointer;
}

.sxhrinput li:hover{
    background-color: #AAAAFF;
}

.suivi-popover{
    position: fixed;
    top: 1em;
    right: 1em;
    background-color: #301010;
    color: white;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 5px;
}

.spreadsheet-container{
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    background-color: #EEE;
}
.spreadsheet-container table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}   
.spreadsheet-container th{
    border-radius: 05em;
    background-color: blue;
    color: white;
}
.spreadsheet{
    padding: 0;
    background-color: white;
    border: 1px inset #CCC;
    max-height: 20em;
    overflow: scroll;
}

.spreadsheet td{
    border: 1px dotted #CCC;
}

.spreadsheet input{
    border: none;
    width: 100%;
}

.css-form input.ng-invalid{
    border-color: red;
}

#main-menu {
    font-size: 14px;
    background-color: rgba(6, 18, 72, 1);
    border-width: 1px;
    border-radius: 4px;
}
#main-menu .navbar-nav>li>a {
    color: rgba(186, 179, 179, 1);
    background-color: rgba(248, 248, 248, 0);
}
#main-menu .navbar-nav>li>a:hover,
#main-menu .navbar-nav>li>a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(245, 167, 0, 1);
}
#main-menu .navbar-nav>.active>a,
#main-menu .navbar-nav>.active>a:hover,
#main-menu .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(231, 231, 231, 1);
}
#main-menu.navbar-toggle {
    border-color: #ddd;
}
#main-menu .navbar-toggle:hover,
#main-menu .navbar-toggle:focus {
    background-color: #ddd;
}
#main-menu .navbar-toggle .icon-bar {
    background-color: #888;
}
#main-menu .navbar-toggle:hover .icon-bar,
#main-menu .navbar-toggle:focus .icon-bar {
    background-color: #750707;
}

/* custom loader styles */
.custom-loading.dw-loading {
  text-align: center;
}

.custom-loading.dw-loading.dw-loading-overlay {
  background-color: rgba(0, 255, 255, .7);
  z-index: 9999;
}

.custom-loading.dw-loading > .dw-loading-body > .dw-loading-text {
  color: green;
  font-size: 13px;
  top: 45px;
}
.dw-loading.dw-loading-active {
  position: fixed;
}
