<div class="detail-display">
    <tabset justified="true" ng-if="schema.groups.length>1" >
        <tab ng-repeat="group in schema.groups" heading="{{group.name}}">
            <dl class="dl-horizontal"  ng-repeat="field in group.fields">
                <dt ng-if="field.type != 'hidden'" tooltip="{{field.help}}">{{field.label}}</dt>
                <dd class="text-info" ng-if="field.type != 'hidden' && !field.options.multi" field-display field="field" data="data[field.name]"></dd>
                <dd class="text-info" ng-if="field.type != 'hidden' && field.options.multi" field-display field="field" ng-repeat="item in data[field.name] track by $index" data="item"></dd>
            </dl>
        </tab>
    </tabset>
    <div ng-if="schema.groups.length==1">
            <dl class="dl-horizontal" ng-repeat="field in schema.groups[0].fields">
                <dt ng-if="field.type != 'hidden'" tooltip="{{field.help}}">{{field.label}}</dt>
                <dd class="text-info" ng-if="field.type != 'hidden' && !field.options.multi" field-display field="field" data="data[field.name]"></dd>
                <dd class="text-info" ng-if="field.type != 'hidden' && field.options.multi" field-display field="field" ng-repeat="item in data[field.name] track by $index" data="item"></dd>
            </dl>
    </div>
    <a class="btn btn-warning" ng-if="updateUrl && editAccess" ng-href="{{updateUrl}}">Modifier</a>
<div>
<div ng-if="subSchema">
    <h2>{{subSchema.title}}</h2>
    <a class="btn btn-success" ng-if="subEditAccess" ng-href="{{subSchema.createUrl}}{{dataId}}">{{subSchema.createBtnLabel}}</a>
    <button type="button" class="btn btn-primary" ng-if="subData.length==0 && subEditAccess && schema.subEditSchemaUrl" ng-click="switchEditing()">{{subSchema.createBtnLabel}} - Rapide</button>
    <table class="table" ng-if="subData.length>0 && !subEditing">
        <tr>
            <th ng-repeat="subf in subSchema.fields">{{subf.label}}</th>
        </tr>
        <tr ng-repeat="line in subData">
            <td ng-repeat="subf in subSchema.fields">
                <div ng-if="subf.type=='string'">{{line[subf.name]}}</div>
                <div ng-if="subf.type=='dict'">{{line[subf.name][subf.field]}}</div>
                <div ng-if="subf.type=='list'">{{line[subf.name].join(', ')}}</div>
                <div ng-if="subf.type=='select'">{{subf.options.choices|tselect:line[subf.name]}}</div>
                <a ng-if="subf.type=='link'" ng-href="{{subf.url}}{{line[subf.ref]}}">{{line[subf.name]}}</a></div>
            </td>
        </tr>
    </table>
    <div ng-if="subData.length==0 && !subEditing">{{subSchema.emptyMsg}}</div>
    <div ng-if="subData.length==0 && subEditing" subeditform schema="schema.subEditSchemaUrl" saveurl="schema.subEditSaveUrl" refid="data[schema.subEditRef]"></div>
</div>

<div dw-loading="spinner-detail" dw-loading-options="{text: 'Chargement des données'}" ng-options="{ text: '', className: 'custom-loading', spinnerOptions: {radius:30, width:8, length: 16, color: '#f0f', direction: -1, speed: 3}}"></div>
