<div maplist="chiro/site">
<div class="col-md-6 col-sm-12 fixed-map">
  <div class="map large col-md-5 col-sm-12" leaflet-map data="geoms"></div>
</div>
<div class="col-md-6  col-md-offset-6 col-sm-12 opaque">
  <div breadcrumbs appname="{{_appName}}"></div>
  <a class="btn btn-success float-right" ng-if="editAccess" ng-href="{{schema.createUrl}}">{{schema.createBtnLabel}}</a>
  <div>
    <div tablewrapper class="table" schema="schema" data="data" refname="{{_appName}}/site">
      Sites
    </div>
  </div>
</div>
</div>
