<div class="row col-lg-6">
    <a class="btn btn-xs" ng-href="#/{{_appName}}/site"><span class="glyphicon glyphicon-chevron-left"></span>sites</a>
    <a class="btn btn-xs" ng-href="#/{{_appName}}/taxons/{{data.obsTxId}}"><span class="glyphicon glyphicon-chevron-left"></span>Retour taxon</a>
    <a ng-if="data.id" class="btn btn-xs" ng-href="#/{{_appName}}/biometrie/{{data.id}}"><span class="glyphicon glyphicon-chevron-left"></span>Retour biometrie</a>
</div>
<div class="row col-lg-6">
    <dynform schema="schema" data="data" onsave="save" onremove="remove" errors="errors"></dynform>
</div>
<div class="row col-lg-6">
    <pre>{{data|json}}</pre>
</div>
